@{
    ViewData["Title"] = "About";
}

<h2>About Q-Stock Application</h2>
<hr />

<div>
    <p>
        This application let's you quickly (Q) fetch stock data from IEX via their public
        <a href="https://iextrading.com/developer/">API</a>.
        <br />
        <br />
        For the purpose of this assignment we have chosen to display the details regarding Symbols, Upcoming IPO's and Watchlists from IEXtraing website
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Symbols">Symbols</a> tab fetches symbols data from the
        <a href="https://iextrading.com/developer/docs/#reference-data">IEX Reference API </a> and displays the results.
        This data can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="IPO">Upcoming IPO</a> tab let's you view the IPO [Initial public offering] issued by company to public.
        The IPO's list can also be saved in the local database. The data is obtained from
        <a href="https://iextrading.com/developer/docs/#ipo-calendar">IEX IPO API</a>
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Watchlist">Watchlist</a> tab let's you refresh the local database, that is, remove all its contents.
    </p>
    <p>
        The application demonstrates the following -
        <ul>
            <li>Connection to REST API (the example uses IEXTrading, an easy-to-use API that provides stock data)</li>
            <li>Parsing the Json objects returned from the API</li>
            <li>Modeling API results as entities</li>
            <li>Persisting data to a relational database</li>
        </ul>
    </p>
</div>

<h2>About Q-Stock Team Members</h2>
<hr />

<div>
    <p>
        The team members involved in creating this project are :
        <ul>
            <li>Karina Aguiar Goncalves </li>
            <li>Quynh Mai</li>
            <li>Malathy Munusamy</li>
        </ul>
    </p>
    <h2>GitHub profile link</h2>
    <hr />
    <p>
        Please click on <a href="https://github.com/karinaaguiar/API_Usage" target="_blank">GitHub</a> to navigate to our GitHub profile.
        
    </p>
</div>