@model IEnumerable<API_Usage.Models.News>
@{
    ViewData["Title"] = "Home";
}

<section id="information">
    <div class="container">
        <h1>Q-Stock let's you quickly fetch stock data from <a href="https://iextrading.com/developer/" target="_blank">IEX</a></h1>
    </div>
</section>

<div class="container">
    <h2>Q-Stock News</h2>
    <ul class="c_ul_ques">
        @foreach (var item in Model)
        {
            <li class="c_li_ques">
                <div class="c_div_question">
                    <span class="c_question"><a href="@item.url" target="_blank">@Html.DisplayFor(modelItem => item.headline)</a></span>
                    <span class="c_answer">
                        @Html.DisplayFor(modelItem => item.summary)
                    </span>
                </div>
            </li>
        }
    </ul>
</div>


